.DS_Store
cockpitdecks.log
secret.yaml
**/secret.yaml
resources
examples/*
.vscode/*
site/*
.cache/*
screendumps/*
.env/
environ.yaml
datarefs-log.yaml
scripts/*.log
scripts/events.json
*.pyc
variable-database-dump.yaml
requirements-dev.txt
CLAUDE.md
.claude/*
