# 1. ADD SERIAL NUMBER 
# 2. RENAME THIS FILE secret.yaml.dist > secret.yaml
# My decks and their serial numbers.
# Format:
# DeckName: Serial number
# DeckName must match name given in config.yaml.
XPLive: ENTER DECK SERIAL NUMBER HERE
